.b1 {
  background: #00ff00; /* Синий цвет фона */
  color: white; /* Белые буквы */
  font-size: 9pt; /* Размер шрифта в пунктах */
}
.b2 {
  background: #ff0000; /* Синий цвет фона */
  color: white; /* Белые буквы */
  font-size: 9pt; /* Размер шрифта в пунктах */
}

